<body>
  <div class="container" >
      <div><h1 class="tituloCentral">Registro de Enfermedades</h1></div>
      <div class="contenedorForm">
        <form class="example-form" [formGroup]="form" (submit)="Registrar()">
          
          <h6 class="tituloForm">Enfermedades</h6>
  
          <section class="contenedor">
          
            <mat-form-field class="example-full-width" *ngIf="edicion">
              <mat-label>Codigo</mat-label>
              <input matInput formControlName="hidenfermedades" />
            </mat-form-field>
            <br />
  
          <mat-form-field class="example-full-width">
            <mat-label>Nombre de Enfermedad</mat-label>
            <input matInput placeholder="Nombre" formControlName="hnombre" />
          </mat-form-field>
          <br>

          <mat-form-field class="example-full-width">
              <mat-label>Descripcion</mat-label>
              <input matInput placeholder="Descripcion" formControlName="hdescripcion" />
          </mat-form-field>
          <br>
  
          <mat-form-field class="example-full-width">
              <mat-label>Tipo</mat-label>
              <input matInput placeholder="Tipo" formControlName="htipo" />
          </mat-form-field>  
          <br>
  
         </section>
    
         <div class="button-container">
          <button mat-flat-button class="submit-button" type="submit">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>