


/* General Page Styles */
body {
  background-color: #13132b; /* Dark background color */
  color: white;
  font-family: Arial, sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

/* Register Container */
.container {
  background-color: #13132b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Title */
.tituloCentral {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  color: white;
}

.tituloForm {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Catamaran', sans-serif;
    color: white;
  }

/* Form Container */
.contenedorForm {
  background-color: #b0b0bb; /* Dark background color for the form */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  width: 15%;
  max-width: 600px;
  align-items: center;
}

/* Form Row */
.form-row {
  display: flex;
  gap: 20px;
}

/* Form Column */
.form-column {
  flex: 1;
}

/* Form Fields */
.example-full-width {
  width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

/* Button Styles */
.button-container {
  text-align: center;
}

.submit-button {
  background-color: #151541;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.submit-button:hover {
  background-color: #1d1d55;;
}

.menu-button {
  background-color: #151541;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  margin-top: 10px; /* Añade espacio vertical entre los botones */
  cursor: pointer;
}