<body>
  <div class="container">
    <div><h1 class="title">Registrar Ciudad</h1></div>
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (ngSubmit)="aceptar()">
        <mat-form-field class="full-width" *ngIf="edicion">
          <mat-label>Código</mat-label>
          <input matInput placeholder="Código" formControlName="hcodigo1" />
          <mat-error
            *ngIf="
              form.get('hcodigo1')?.hasError('required') &&
              form.get('hcodigo1')?.touched
            "
          >
            Completar el espacio en blanco para poder registrar
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="hciudad">
            <mat-option *ngFor="let m of listarCiudades" [value]="m.value">
              {{ m.viewValue }}
            </mat-option>
          </mat-select>
          <mat-error
            *ngIf="
              form.get('hciudad')?.hasError('required') &&
              form.get('hciudad')?.touched
            "
          >
            Completar el espacio en blanco para poder registrar
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button
            mat-flat-button
            color="primary"
            type="submit"
            [disabled]="form.invalid"
          >
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
