<div>
    <div><h1>Registrar Dispositivo</h1></div>
    <div>
      <form class="example-form" [formGroup]="form" (ngSubmit)="aceptar()">
  
        <mat-form-field class="example-full-width" >
          <mat-label>Codigo</mat-label>
          <input matInput placeholder="Codigo" formControlName="hcodigo1"/>
          <mat-error
            *ngIf="
              form.get('hcodigo1')?.hasError('required') &&
              form.get('hcodigo1')?.touched
            "
          >
            Completar el espacio en blanco para poder registrar
          </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName="hciudad">
            @for (m of listarCiudades; track m) {
            <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
            }
          </mat-select>
          <mat-error
            *ngIf="
              form.get('hciudad')?.hasError('required') &&
              form.get('hciudad')?.touched
            "
          >
            Completar el espacio en blanco para poder registrar
          </mat-error>
        </mat-form-field>
  
        <div>
          <button mat-flat-button type="submit" [disabled]="form.invalid">
            Aceptar
          </button>
        </div>
      </form>
    </div>
  </div>
  