<body>
  <div class="container">
    <div><h1>Registrar Distritos</h1></div>
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (ngSubmit)="aceptar()">
        <mat-form-field class="form-field">
          <mat-label>Ciudades</mat-label>
          <mat-select formControlName="hciudad">
            <mat-option *ngFor="let c of listaCiudades" [value]="c.idCiudad">
              {{ c.nombre_ciudad }} / ID: {{ c.idCiudad }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Buscar Distrito</mat-label>
          <input
            matInput
            type="text"
            [formControl]="distritoSearchControl"
            placeholder="Escribe para buscar"
          />
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Distrito</mat-label>
          <mat-select formControlName="hdistrito">
            <mat-option value="">-- Ninguno --</mat-option>
            <ng-container *ngFor="let group of filteredDistritoGroups">
              <mat-optgroup [label]="group.name" [disabled]="group.disabled">
                <mat-option *ngFor="let di of group.di" [value]="di.value">
                  {{ di.viewValue }}
                </mat-option>
              </mat-optgroup>
            </ng-container>
          </mat-select>
        </mat-form-field>

        <div class="button-container">
          <button class="submit-button" mat-flat-button type="submit">
            Registrar
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
