<div class="container">
    <div style="text-align: center;margin: 5%;"><h1>Lista de Contacto de Autoridad</h1></div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="idContacAuto">
              <th mat-header-cell *matHeaderCellDef> ID </th>
              <td mat-cell *matCellDef="let contacto"> {{ contacto.idContacAuto }} </td>
            </ng-container>
          
            <ng-container matColumnDef="nombre_contac_Auto">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let contacto"> {{ contacto.nombre_contac_Auto }} </td>
            </ng-container>
          
            <ng-container matColumnDef="numeTelefono_contac_Auto">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let contacto"> {{ contacto.numeTelefono_contac_Auto }} </td>
            </ng-container>
          
            <ng-container matColumnDef="accion01">
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                <td mat-cell *matCellDef="let contacto" (click)="eliminar(contacto.idContacAuto)" >
                  <mat-icon style="color:hsl(4, 97%, 48%) ;">delete</mat-icon>
                </td>
               </ng-container>


               <ng-container matColumnDef="accion02">
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>
                <td mat-cell *matCellDef="let contacto"  [routerLink]="['editar',contacto.idContacAuto]">
                  <mat-icon style="color:hsl(4, 97%, 48%) ;">edit</mat-icon>
                </td>
               </ng-container>
           
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>

</div>


  