<body>
  <div class="register-container">
    <div><h1 class="title">Registrar Ubicaciones</h1></div>
    <div class="form-container">
      <form class="example-form" [formGroup]="form" (submit)="aceptar()">
        <div class="form-row">
          <!-- First Column for Longitud and Latitud -->
          <div class="form-column">
            <mat-form-field class="form-field">
              <mat-label>Longitud</mat-label>
              <input matInput formControlName="hlongitud" />
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>Latitud</mat-label>
              <input matInput formControlName="hlatitud" />
            </mat-form-field>
          </div>

          <!-- Second Column for Fecha de Ubicacion and Distrito -->
          <div class="form-column">
            <mat-form-field class="form-field">
              <mat-label>Fecha de Ubicación</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="hfecha"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field class="form-field">
              <mat-label>Distrito</mat-label>
              <mat-select formControlName="hdistrito">
                @for (d of listaDistrito; track d) {
                <mat-option [value]="d.idDistrito">{{
                  d.nombre_Distrito
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <!-- Submit Button -->
        <div class="button-container">
          <button mat-flat-button class="submit-button" type="submit">
            Aceptar
          </button>
          <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/navegacion']"
          >
            Volver al Menú
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
