<div class="container">
    <img src="image_g06.png" alt="UPC - GRUPO 6" class="logo" />
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 security-table">
      
  
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.us_nombre }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.us_apellido }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let element">{{ element.us_dni }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{ element.us_telefono }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Fecha de Nacimiento</th>
        <td mat-cell *matCellDef="let element">{{ element.us_fechanacimiento }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.us_email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>
  
      <!-- Aquí añadimos la funcionalidad para mostrar/esconder la contraseña -->
      <ng-container matColumnDef="c9">
        <th mat-header-cell *matHeaderCellDef>Contraseña</th>
        <td mat-cell *matCellDef="let element">
            <!-- Usamos un input con el tipo dinámico -->
            <input [type]="element.showPassword ? 'text' : 'password'" [value]="element.password" readonly />
            <!-- Botón para mostrar o esconder la contraseña -->
            <button (click)="togglePasswordVisibility(element)" class="toggle-password">
              {{ element.showPassword ? 'Esconder' : 'Mostrar' }} Contraseña
            </button>
          </td>
          
      </ng-container>
  
      <ng-container matColumnDef="c10">
        <th mat-header-cell *matHeaderCellDef>Habilitado</th>
        <td mat-cell *matCellDef="let element">
          <button class="security-action">{{ element.enabled ? 'Deshabilitar' : 'Habilitar' }}</button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
