<div class="container">
  <div><h1 class="title">LISTA DE USUARIOS</h1></div>
  <div>
 
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 security-table"
    >
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element">{{ element.idUsario }}</td>
      </ng-container>

      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.us_nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{ element.us_apellido }}</td>
      </ng-container>

      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>DNI</th>
        <td mat-cell *matCellDef="let element">{{ element.us_dni }}</td>
      </ng-container>

      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Celular</th>
        <td mat-cell *matCellDef="let element">{{ element.us_telefono }}</td>
      </ng-container>

      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Fecha</th>
        <td mat-cell *matCellDef="let element">
          {{ formatDate(element.us_fechanacimiento) }}
        </td>
      </ng-container>

      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.us_email }}</td>
      </ng-container>

      <ng-container matColumnDef="c8">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let element">{{ element.username }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <ng-container matColumnDef="accion01">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td
          mat-cell
          *matCellDef="let element"
          (click)="eliminar(element.idUsario)"
        >
          <mat-icon style="color: brown">delete_forever</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="accion02">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td
          mat-cell
          *matCellDef="let element"
          [routerLink]="['ediciones', element.idUsario]"
        >
          <mat-icon style="color: rgb(14, 147, 25)">edit</mat-icon>
        </td>
      </ng-container>
    </table>
    <div class="paginator">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>
    </div>
    <br /><br />
    <button mat-stroked-button class="menu-button" [routerLink]="['/navegacion']">
      <span class="arrow-symbol"><mat-icon>keyboard_return</mat-icon></span> Volver al Menú
    </button>
  </div>
</div>
