<body>
  <div class="register-container">
    <div><h1 class="title">Registro de Contactos de Emergencia</h1></div>
    <div class="form-container">
      <div>
        <form class="example-form" [formGroup]="form" (submit)="aceptar()">
        
          <mat-form-field class="form-field" *ngIf="edicion">
            <mat-label>ID</mat-label>
            <input matInput formControlName="hidContacto" />
          </mat-form-field>
          <br />
    
          <mat-form-field class="example-full-width">
            <mat-label>Nombre del Contacto</mat-label>
            <input matInput formControlName="hnombre_contacto" />
          </mat-form-field>
          <br />

          <mat-form-field class="example-full-width">
            <mat-label> Relación </mat-label>
            <mat-select placeholder="Rol" formControlName="hrelacion_contacto">
              <mat-option *ngFor="let c of listarRelacion" [value]="c.value">
                {{ c.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
    
          <mat-form-field class="example-full-width">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Número de Teléfono" formControlName="hnum_telefono_contacto" />
          </mat-form-field>
          <br />
    
          <div class="button-container">
            <button mat-flat-button class="submit-button" type="submit">Aceptar</button>
            <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/navegacion']"
          >
            Volver al Menú
          </button>
          </div>
        </form>

      </div>
      
    </div>
  </div>
</body>

