

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #13132b; /* Dark background for the entire page */
    padding: 20px;
}
/* Title */
.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Catamaran', sans-serif;
  color: white;
}

.dmedico-table{
    background-color: #1a1a3d; /* Dark background color for the table container */
    width: 85%; /* Table occupies 85% of the available width */
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}
/* Actual table styling */
table {
    width: 100%; /* Table takes full width of container */
    background-color: #bebecc; /* Specific background color for the table */
    border-collapse: collapse; /* Ensures no spacing between cells */
    border-radius: 8px; /* Optional: if you want rounded corners inside */
    overflow: hidden; /* Clips any overflow if using rounded corners */
}
th {
    font-weight: bold;  /* Los títulos de las columnas son más gruesos */
    background-color: #21262d;  /* Fondo oscuro para los encabezados de las columnas */
    color: #19548b;  /* Texto blanco para los títulos de las columnas */
    padding: 15px;  /* Espacio alrededor del texto en los encabezados */
    text-transform: uppercase;  /* Convierte el texto a mayúsculas */
}

td {
    padding: 15px;  /* Espacio interno (padding) dentro de las celdas */
    border-bottom: 1px solid #30363d;  /* Una línea divisoria entre las filas de la tabla */
    color: #1a2b76;  /* Color gris claro para el texto de las celdas */
}

tr:hover {
    background-color: #ffffff; /* Background color on row hover */
}

.paginator {
    color: #1a1a3d;
  }

  /* Botón con símbolo de flecha y texto */
.menu-button {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre la flecha y el texto */
    padding: 8px 16px;
    border: 2px solid #3f51b5; /* Borde azul */
    background-color: white; /* Fondo blanco */
    color: #3f51b5; /* Texto azul */
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .menu-button:hover {
    background-color: #3f51b5; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }
