.custom-toolbar {
  background-color: #13132b;
}

.custom-toolbar button {
  color: white !important;
}

.custom-toolbar button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Color claro al hacer hover */
}
