<body>
    <div class="register-container">
        <div><h1 class="title">Registro de Dispositivo</h1></div>
        <div class="form-container">
          <form class="example-form" [formGroup]="form" (submit)="aceptar()">
    
            <mat-form-field class="form-field">
              <mat-label>Dispositivos</mat-label>
              <mat-select matInput placeholder="Dispositivo" formControlName="hmarca">
                @for (m of listaDispositivos; track m) {
                <mat-option [value]="m.value">{{ m.viewValue }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="form-field">
              <mat-label>Usuario</mat-label>
              <mat-select matInput placeholder="Usuario" formControlName="husuario">
                @for (m of listaUsuarios; track m) {
                <mat-option [value]="m.idUsario">({{ m.idUsario}}) {{m.us_nombre}} </mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br>



            <mat-form-field class="form-field">
              <mat-label>Contacto Autoridad</mat-label>
              <mat-select matInput placeholder="Contacto Autoridad" formControlName="hcontactoAutoridad">
                @for (m of listaContactoAutoridad; track m) {
                <mat-option [value]="m.idContacAuto">{{ m.nombre_contac_Auto + ' - ' + m.numeTelefono_contac_Auto}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br>

            

            <mat-form-field class="form-field">
              <mat-label>Contacto Emergencia</mat-label>
              <mat-select matInput placeholder="Contacto Emergencia" formControlName="hcontactoEmergencia">
                @for (m of listaContactoEmergencias; track m) {
                <mat-option [value]="m.idContacto">{{ m.nombre_contacto + ' - ' + m.num_telefono_contacto + ' - ' + m.relacion_contacto}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br>
    
            <div class="button-container">
              <button mat-flat-button class="submit-button" type="submit">Aceptar</button>
              <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/navegacion']"
          >
            Volver al Menú
          </button>
            </div>
        </form>
        </div>
      </div>
      
    </body>
