<div class="register-container">
    <div><h1 class="title">Registrar usuario</h1></div>
    <div class="form-container">
      <form class="example-form form-style" [formGroup]="form" (ngSubmit)="aceptar()">
        
        <mat-form-field class="example-full-width form-field" *ngIf="edicion">
          <mat-label>IdUsuario</mat-label>
          <input matInput placeholder="IdUsuario" formControlName="hcodigo" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width form-field">
          <mat-label>Nombre</mat-label>
          <input matInput placeholder="Nombre" formControlName="hnombre" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width form-field">
          <mat-label>Apellido</mat-label>
          <input matInput placeholder="Apellido" formControlName="hapellido" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width form-field">
          <mat-label>DNI</mat-label>
          <input matInput placeholder="Doc.Identidad" formControlName="hdni" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width form-field">
          <mat-label>Celular</mat-label>
          <input matInput placeholder="Celular" formControlName="hcelular" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="form-field">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="hfecha" />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width form-field">
          <mat-label>Correo Electronico</mat-label>
          <input matInput placeholder="pepe@gmail.com" formControlName="hemail" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="example-full-width form-field">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Usuario" formControlName="husuario" />
        </mat-form-field>
        <br />
  
        <mat-form-field class="form-field">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            [type]="hide() ? 'password' : 'text'"
            formControlName="hcontrasena"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="clickEvent($event)"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()"
          >
            <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
  
        <div class="button-container">
          <button class="submit-button" mat-flat-button>aceptar</button>
        </div>
      </form>
    </div>
  </div>
  