<body>
  <div class="register-container">
    <div><h1 class="title">Registrar usuario</h1></div>
    <div class="form-container">
      <form
        class="example-form form-style"
        [formGroup]="form"
        (ngSubmit)="aceptar()"
      >
        <div class="form-row">
          <div class="form-column">
            <mat-form-field class="example-full-width form-field">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="hnombre" />
            </mat-form-field>
            <mat-form-field class="example-full-width form-field">
              <mat-label>Apellido</mat-label>
              <input
                matInput
                placeholder="Apellido"
                formControlName="hapellido"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width form-field">
              <mat-label>DNI</mat-label>
              <input
                matInput
                placeholder="Doc.Identidad"
                formControlName="hdni"
              />
            </mat-form-field>
            <mat-form-field class="example-full-width form-field">
              <mat-label>Celular</mat-label>
              <input
                matInput
                placeholder="Celular"
                formControlName="hcelular"
              />
            </mat-form-field>
          </div>
          <div class="form-column">
            <mat-form-field class="form-field">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" [max]="fechaMinimaNacimiento" formControlName="hfecha"/>
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
                         <!-- Mensajes de error para fecha -->
             <div *ngIf="form.get('hfecha')?.hasError('fechaInvalida')">
              La fecha debe ser anterior a la fecha actual.
            </div>
            <div *ngIf="form.get('hfecha')?.hasError('menorDeEdad')">
              Debes tener al menos 18 años.
            </div>
            
            <mat-form-field class="example-full-width form-field">
              <mat-label>Correo Electronico</mat-label>
              <input
                matInput
                placeholder="web@example.com"
                formControlName="hemail"
                [formControl]="email"
                (blur)="updateErrorMessage()"
                required
              />
              <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
            </mat-form-field>            

            <mat-form-field class="example-full-width form-field">
              <mat-label>Usuario</mat-label>
              <input
                matInput
                placeholder="Usuario"
                formControlName="husuario"
              />
            </mat-form-field>
            <mat-form-field class="form-field" *ngIf="!edicion">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [type]="hide() ? 'password' : 'text'"
                formControlName="hcontrasena"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                type="button"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{
                  hide() ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
        <div class="button-container">
          <button class="submit-button" mat-flat-button type="submit">
            Registrar
          </button>
          <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/navegacion']"
          >
            Volver al Menú
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
