<body>
  <div class="register-container">
    <div><h1 class="title">Registrar usuario</h1></div>
    <div class="form-container">
      <form
        class="example-form form-style"
        [formGroup]="form"
        (ngSubmit)="aceptar()"
      >
        <div class="form-row">
          <mat-form-field appearance="outline" class="Alergia-full-width" *ngIf="edicion" >
            <mat-label>Codigo</mat-label>
             <input matInput placeholder="Codigo" formControlName="hcodigo" />
          </mat-form-field>
          
          <div class="form-column">
            <mat-form-field class="example-full-width form-field">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Nombre" formControlName="hnombre" />
              <mat-error *ngIf="form.get('hnombre')?.hasError('required')">
                Debes ingresar el nombre.
              </mat-error>
            </mat-form-field>            

            <mat-form-field class="example-full-width form-field">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="Apellido" formControlName="hapellido" />
              <mat-error *ngIf="form.get('hapellido')?.hasError('required')">
                Debes ingresar el apellido.
              </mat-error>
            </mat-form-field>
            
            
            <mat-form-field class="example-full-width form-field">
              <mat-label>DNI</mat-label>
              <input matInput placeholder="Doc. Identidad" formControlName="hdni" />
              <mat-error *ngIf="form.get('hdni')?.hasError('required')">
                Debes ingresar el DNI.
              </mat-error>
              <mat-error *ngIf="form.get('hdni')?.hasError('minlength') || form.get('hdni')?.hasError('maxlength')">
                El DNI debe tener 8 dígitos.
              </mat-error>
              <mat-error *ngIf="form.get('hdni')?.hasError('pattern')">
                El DNI debe contener solo números.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width form-field">
              <mat-label>Celular</mat-label>
              <input matInput placeholder="Celular" formControlName="hcelular" />
              <mat-error *ngIf="form.get('hcelular')?.hasError('required')">
                Debes ingresar el número de celular.
              </mat-error>
              <mat-error *ngIf="form.get('hcelular')?.hasError('minlength') || form.get('hcelular')?.hasError('maxlength')">
                El celular debe tener 9 dígitos.
              </mat-error>
              <mat-error *ngIf="form.get('hcelular')?.hasError('pattern')">
                El celular debe contener solo números.
              </mat-error>
            </mat-form-field>
            
          </div>
          <div class="form-column">
            <mat-form-field class="form-field">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [max]="fechaMinimaNacimiento"
                formControlName="hfecha"
              />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              
              <!-- Validation Messages -->
              <mat-error *ngIf="form.get('hfecha')?.hasError('required')">
                Debes ingresar la fecha de nacimiento.
              </mat-error>
              <mat-error *ngIf="form.get('hfecha')?.hasError('fechaInvalida')">
                La fecha debe ser anterior a la fecha actual.
              </mat-error>
              <mat-error *ngIf="form.get('hfecha')?.hasError('menorDeEdad')">
                Debes tener al menos 18 años.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="example-full-width form-field">
              <mat-label>Correo Electronico</mat-label>
              <input
                matInput
                placeholder="web@example.com"
                formControlName="hemail"
                [formControl]="email"
                (blur)="updateErrorMessage()"
                required
              />
              <mat-error *ngIf="email.invalid">{{ errorMessage() }}</mat-error>
            </mat-form-field>            

            <mat-form-field class="example-full-width form-field">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Usuario" formControlName="husuario" />
              <mat-error *ngIf="form.get('husuario')?.hasError('required')">
                Debes ingresar el usuario.
              </mat-error>
            </mat-form-field>
            
            <mat-form-field class="form-field" *ngIf="!edicion">
              <mat-label>Contraseña</mat-label>
              <input
                matInput
                [type]="hide() ? 'password' : 'text'"
                formControlName="hcontrasena"
                (input)="generateTokenOnPasswordChange($event)"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="clickEvent($event)"
                type="button"
                [attr.aria-label]="'Ocultar contraseña'"
                [attr.aria-pressed]="hide()"
              >
                <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
              </button>
              <mat-error *ngIf="form.get('hcontrasena')?.hasError('required')">
                Debes ingresar la contraseña.
              </mat-error>
            </mat-form-field>
            
            
            
            
          </div>
        </div>
        <div class="button-container">
          <button class="submit-button" mat-flat-button type="submit">
            Registrar
          </button>
          <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/menu']"
          >
            Volver al Menú
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
