@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap");

/* Background container for the login */
.login-container {
  background-color: #141437;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

/* Central container styling */
.container {
  background: rgba(255, 255, 255, 0.85);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

/* Profile icon styling */
.profile-icon {
  background-color: #243665;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px auto;
}

/* Heading styling */
h2 {
  font-family: Arial, sans-serif;
  color: #243665;
  margin-bottom: 20px;
  font-family: "Catamaran", sans-serif;
}

/* Form field styling */
.form-field {
  width: 100%;
  margin-bottom: 15px;
}

/* Login button styling */
.submit-button {
  background-color: white;
  color: #151541;
  font-weight: bold;
  padding: 10px 95px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
}

.submit-button:hover {
  background-color: #1d1d55;
}

.register-option {
  margin-top: 20px;
  font-family: "Catamaran", sans-serif;
  color: #243665;
  text-align: center;
}

.register-option p {
  margin: 0;
  font-size: 14px;
  color: #151541;
}

.register-button {
  background: none;
  border: none;
  color: #1d4ed8; /* Azul atractivo */
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
  font-family: "Catamaran", sans-serif;
}

.register-button:hover {
  color: #243665; /* Un azul más oscuro al pasar el cursor */
}

.arrow-button-container {
  position: absolute;
  top: 20px; /* Ajusta según sea necesario */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.arrow-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Separación entre texto y flecha */
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Catamaran", sans-serif;
  font-size: 18px; /* Tamaño de fuente más grande */
  cursor: pointer;
}

.arrow-button:hover .arrow {
  border-top-color: #1d4ed8; /* Cambia el color de la flecha al pasar el mouse */
}

.arrow {
  width: 0;
  height: 0;
  border-left: 12px solid transparent; /* Ajuste del tamaño de la flecha */
  border-right: 12px solid transparent;
  border-top: 12px solid #ffffff;
}

.arrow-text {
  color: #ffffff;
}

.arrow-button:hover .arrow-text {
  color: #167ddf; /* Cambia el color del texto al pasar el mouse */
}


