<body>
    <div class="container" >
        <div><h1 class="tituloCentral">Registro de Roles</h1></div>
        <div class="contenedorForm">
          <form class="example-form" [formGroup]="form" (submit)="Registrar()">
            
            <h6 class="tituloForm">Roles</h6>
    
            <section class="contenedor">
            
              <mat-form-field class="example-full-width" *ngIf="edicion">
                <mat-label>Id</mat-label>
                <input matInput formControlName="hid" />
              </mat-form-field>
              <br/>

            <mat-form-field class="example-full-width">
              <mat-label> Rol </mat-label>
              <mat-select placeholder="Rol" formControlName="hrol">
                <mat-option *ngFor="let r of listarRoles" [value]="r.value">
                  {{ r.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br>

            <mat-form-field class="example-full-width">
              <mat-label>Usuario</mat-label>
              <mat-select matInput placeholder="Usuario" formControlName="husuario">
                @for (m of listaUsuarios; track m) {
                <mat-option [value]="m.idUsario">({{m.idUsario}}) {{m.us_nombre + ' ' + m.us_apellido}}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <br>

           </section>
      
           <div class="button-container">
            <button mat-flat-button class="submit-button" type="submit">
              Aceptar
            </button>
            <button
            class="menu-button"
            mat-stroked-button
            type="button"
            [routerLink]="['/navegacion']"
          >
            Volver al Menú
          </button>
          </div>
        </form>
      </div>
    </div>
  </body>