<div class="container">

    <div  style="text-align: center;margin: 5%;"><h1>Lista de Dispositivos</h1></div>
      <div>
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
              <ng-container matColumnDef="c1">
                <th mat-header-cell *matHeaderCellDef> Código </th>
                <td mat-cell *matCellDef="let element"> {{element.idispositivo}} </td>
              </ng-container>

              <ng-container matColumnDef="c2">
                <th mat-header-cell *matHeaderCellDef> Usuario Asociado </th>
                <td mat-cell *matCellDef="let element">{{ element.users.us_nombre }} {{ element.users.us_apellido }}</td>
              </ng-container>
            
              <ng-container matColumnDef="c3">
                <th mat-header-cell *matHeaderCellDef> Contacto de Emergencia </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.contactoemergencias.nombre_contacto }} - {{ element.contactoemergencias.num_telefono_contacto }}
                </td>
              </ng-container>
            
              <ng-container matColumnDef="c4">
                <th mat-header-cell *matHeaderCellDef> Contacto de Autoridad </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.contacto_autoridades.nombre_contac_Auto }} - {{ element.contacto_autoridades.numeTelefono_contac_Auto }}
                </td>
              </ng-container>
                        
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>          
            <mat-paginator [pageSizeOptions]="[5, 8, 10, 20, 30]"
                   showFirstLastButtons
                   aria-label="Selecciona la página">
    </mat-paginator>
      </div>
  </div>