<div class="container">

    <div  style="text-align: center;margin: 5%;"><h1>Lista de Enfermedades</h1></div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="c1">
             <th mat-header-cell *matHeaderCellDef>Id </th>
             <td mat-cell *matCellDef="let element"> {{element.IdEnfermedades}} </td>
            </ng-container>


            <ng-container matColumnDef="c2">
             <th mat-header-cell *matHeaderCellDef> Nombre </th>
             <td mat-cell *matCellDef="let element"> {{element.nombre_enfermedad}}  </td>
            </ng-container>

            <ng-container matColumnDef="c3">
             <th mat-header-cell *matHeaderCellDef> Descripción </th>
             <td mat-cell *matCellDef="let element"> {{element.descripcion_enfermedad}} </td>
            </ng-container>

            <ng-container matColumnDef="c4">
             <th mat-header-cell *matHeaderCellDef> Tipo </th>
             <td mat-cell *matCellDef="let element"> {{element.tipo_enfermedad}} </td>
            </ng-container>

            <ng-container matColumnDef="accion01">
              <th mat-header-cell *matHeaderCellDef> Eliminar </th>
              <td mat-cell *matCellDef="let element" (click)="eliminar(element.IdEnfermedades)" >
                <mat-icon style="color:hsl(4, 97%, 48%) ;">delete</mat-icon>
              </td>
             </ng-container>

             <ng-container matColumnDef="accion02">
              <th mat-header-cell *matHeaderCellDef> Actualizar </th>
              <td mat-cell *matCellDef="let element"  [routerLink]="['ediciones',element.IdEnfermedades]">
                <mat-icon style="color:hsl(4, 97%, 48%) ;">edit</mat-icon>
              </td>
             </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

           </table>
           
    </div>
</div>
