
<div class="container">
    
    <div>
       <h1 class="title">Lista de Alergias</h1>
    </div>
    <div class="alergia-table">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
           
            <ng-container matColumnDef="c1">           
             <th mat-header-cell *matHeaderCellDef>Código </th>           
             <td mat-cell *matCellDef="let element"> {{element.idAlergias}} </td>           
            </ng-container>
                             
            <ng-container matColumnDef="c2">           
             <th mat-header-cell *matHeaderCellDef> Alergias </th>           
             <td mat-cell *matCellDef="let element"> {{element.nombre_alergias}}  </td>           
            </ng-container>

            <ng-container matColumnDef="c3">           
             <th mat-header-cell *matHeaderCellDef> Descripcion </th>           
             <td mat-cell *matCellDef="let element"> {{element.descripcion_alergias}} </td>           
            </ng-container>

            <ng-container matColumnDef="c4">           
                <th mat-header-cell *matHeaderCellDef> Causas </th>           
                <td mat-cell *matCellDef="let element"> {{element.causa_alergias}} </td>           
               </ng-container>
            
            <ng-container matColumnDef="accion01">       <!--AGREGAR AL TS -->    
                <th mat-header-cell *matHeaderCellDef> Eliminar </th>           
                <td mat-cell *matCellDef="let element" (click)="eliminar(element.idAlergias)">    
                    <mat-icon style="color: brown">delete_forever</mat-icon>

                </td>    
            </ng-container> 

            <ng-container matColumnDef="accion02">       <!--AGREGAR AL TS -->    
                <th mat-header-cell *matHeaderCellDef> Actualizar </th>           
                <td mat-cell *matCellDef="let element" [routerLink]="['ediciones',element.idAlergias]"  >    
                    <mat-icon style="color: rgb(14, 147, 25)">edit</mat-icon>   
                </td>    
            </ng-container> 
                      
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
           </table>

           <mat-paginator [pageSizeOptions]="[5, 8, 10, 20, 30]"
                   showFirstLastButtons
                   aria-label="Selecciona la página">
    </mat-paginator>
    </div>
</div>
