@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #13132b; /* Dark background for the entire page */
    padding: 10px 20px;
}

/* Title */
.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 200px;
    margin-top: -250px;
    font-family: 'Catamaran', sans-serif;
    color: white;   
}

/* Table Container with different color from table itself */
.mat-elevation-z8 {
    background-color: #bebecc; /* Dark background color for the table container */
    width: 100%; /* Table occupies 85% of the available width */
    max-width: 1000px;
    border-radius: 10px;    
    padding: 20px ; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    margin-top: -180px;
}

/* Actual table styling */
table {
    width: 100%; /* Table takes full width of container */
    background-color: #222246; /* Specific background color for the table */
    border-radius: 8px; /* Optional: if you want rounded corners inside */
    overflow: hidden; /* Clips any overflow if using rounded corners */
}

th {
    font-weight: bold;
    background-color: #1a2b76; /* Darker background for header cells */
    color: #19548b; /* White text color for headers */
    padding: 15px;
    text-transform: uppercase;
    font-size: 0.9rem;
    text-align: left;
    border-bottom: 2px solid #30363d; /* Dark border for separation */
}

td {
    padding: 15px;
    border-bottom: 1px solid #30363d; /* Divider line between rows */
    color: #1a2b76; /* Light gray text color for cells */
    font-size: 0.9rem;
}

tr:hover {
    background-color: #ffffff; /* Background color on row hover */
}

/* Icon Styles */
td mat-icon {
    cursor: pointer;
    vertical-align: middle;
}

td mat-icon.delete-icon {
    color: brown; /* Red color for delete icon */
}

td mat-icon.edit-icon {
    color: rgb(14, 147, 25); /* Green color for edit icon */
}

/* Botón con símbolo de flecha y texto */
.menu-button {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre la flecha y el texto */
    padding: 8px 16px;
    border: 2px solid #3f51b5; /* Borde azul */
    background-color: white; /* Fondo blanco */
    color: #3f51b5; /* Texto azul */
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .menu-button:hover {
    background-color: #3f51b5; /* Fondo azul al pasar el mouse */
    color: white; /* Texto blanco al pasar el mouse */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  }